version: "3"
volumes:
  vol_tempo:
  vol_grafana:
  vol_grafana10:
services:
  krakend_ee:
    # The :watch image restarts the service automatically when the configuration files change.
    # Do not use this image in production, it's meant to speed up your testing and development.
    image: krakend/krakend-ee:2.4-watch
    volumes:
      - ./config/krakend:/etc/krakend
      - ./dumps:/tmp/krakend-http-logger
      - ./images/grpc/defs:/etc/krakend/grpc_catalog
    ports:
      - "1234:1234"
      - "8080:8080"
      - "8090:8090"
    command: ["run", "-d", "-c", "krakend.json"]
    # Uncomment to automatically compile using flexible configuration
    #command: ["run", "-d", "-c", "./extended/krakend.tmpl"]
    #environment:
    #  - "FC_CONFIG=/etc/krakend/fc_config.json"
    #  - "FC_DEBUG=true"
    depends_on:
      - fake_api
      - jaeger
      - chat
  grafana:
    image: grafana/grafana:9.1.2
    ports:
      - "4000:3000"
    volumes:
      - "vol_grafana:/var/lib/grafana"
      - "./config/telemetry/grafana/datasources/all.yml:/etc/grafana/provisioning/datasources/all.yml"
      - "./config/telemetry/grafana/dashboards/all.yml:/etc/grafana/provisioning/dashboards/all.yml"
      - "./config/telemetry/grafana/krakend:/var/lib/grafana/dashboards/krakend"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      # The token below must match the one in influxdb
      - INFLUXDB_TOKEN=my-super-secret-auth-token
  grafana10:
    image: grafana/grafana:latest
    domainname: grafana10
    ports:
      - "4010:3000"
    volumes:
      - "vol_grafana10:/var/lib/grafana"
      - "./config/telemetry/grafana10/provisioning/datasources/all.yml:/etc/grafana/provisioning/datasources/all.yml"
      - "./config/telemetry/grafana10/provisioning/dashboards/all.yml:/etc/grafana/provisioning/dashboards/all.yml"
      - "./config/telemetry/grafana10/data/dashboards:/var/lib/grafana/dashboards"
    environment:
      - GF_SECURITY_ADMIN_USER=krakend
      - GF_SECURITY_ADMIN_PASSWORD=krakend
      - GF_AUT_ANONYMOUS_ENABLED=true
  influxdb:
  #  image: influxdb:1.8.10
  #  environment:
  #    - "INFLUXDB_DB=krakend"
  #    - "INFLUXDB_USER=krakend-dev"
  #    - "INFLUXDB_USER_PASSWORD=pas5w0rd"
  #    - "INFLUXDB_ADMIN_USER=admin"
  #    - "INFLUXDB_ADMIN_PASSWORD=supersecretpassword"
    image: influxdb:2.4
    environment:
      - "DOCKER_INFLUXDB_INIT_MODE=setup"
      - "DOCKER_INFLUXDB_INIT_USERNAME=krakend-dev"
      - "DOCKER_INFLUXDB_INIT_PASSWORD=pas5w0rd"
      - "DOCKER_INFLUXDB_INIT_ORG=my-org"
      - "DOCKER_INFLUXDB_INIT_BUCKET=krakend"
      - "DOCKER_INFLUXDB_INIT_RETENTION=1w"
      - "DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-auth-token"
    ports:
      - "8086:8086"
    volumes:
      - "./config/telemetry/influx:/docker-entrypoint-initdb.d"
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "59090:9090"
    volumes:
      - "./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
  jaeger:
    image: jaegertracing/all-in-one:1
    environment:
      - "COLLECTOR_OTLP_ENABLED=true"
    ports:
      - "16686:16686"
      - "14268:14268"
      - "64317:4317"  # otlp grpc
      - "64318:4318"  # otlp grpc
  tempo:
    image: grafana/tempo:latest
    domainname: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - "./config/tempo/tempo.yaml:/etc/tempo.yaml"
      - "vol_tempo:/tmp/tempo"
    ports:
      - "3200:3200"     # tempo
      - "9095:9095"     # tempo grpc
      - "54317:4317"    # otlp grpc
      - "54318:4318"    # otlp http
  elasticsearch:
    image: elasticsearch:8.4.1
    environment:
      - "discovery.type=single-node"
      - "xpack.security.enabled=false"
      - "xpack.security.transport.ssl.enabled=false"
      - "xpack.security.http.ssl.enabled=false"
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ports:
      - "19200:9200"
      - "9300:9300"
  kibana:
    image: kibana:8.4.1
    ports:
      - "5601:5601"
  logstash:
    image: logstash:8.4.1
    ports:
      - "12201:12201/udp"
      - "5044:5044"
    environment:
      - "xpack.monitoring.elasticsearch.url=http://elasticsearch:9200"
    volumes:
      - ./config/telemetry/logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    command: ["-f", "/usr/share/logstash/pipeline/logstash.conf"]
  rabbitmq:
    image: rabbitmq:3-management
    # Login with guest/guest
    ports:
      - "15672:15672"
      - "5672:5672"
  fake_api:
    image: jdkelley/simple-http-server:latest
    volumes:
      - ./data:/serve
    ports:
      - "8000:8000"
  web:
    build:
      context: images/spa-auth-web
    ports:
      - "3000:3000"
  revoker:
    image: krakend/krakend-ee:2.4-watch
    ports:
      - 8081:8081
    volumes:
      - "./config/krakend:/etc/krakend"
    command: ["revoker", "-c", "revoker.json"]
    depends_on:
      - krakend_ee
    restart: always
  grpc_flights:
    image: krakend/grpc_flights_fake:latest
    ports:
      - "4242:4242"
  grpc_trains:
    image: krakend/grpc_trains_fake:latest
    ports:
      - "4243:4243"
  chat:
    build:
      context: images/websocket/chat
    ports:
      - "4245:8888"
