@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-moz-scrollbar {
      display: none;
    }
    &::-o-scrollbar {
      display: none;
    }
  }
  code {
    color: #0071ce;
  }
}
