{
  "$schema": "https://www.krakend.io/schema/krakend.json",
  "version": 3,
  "name": "{{.name}}",
  "port": {{.port}},
  "host": ["http://localhost:8080"],
  "timeout": "3000ms",
  "cache_ttl": "300s",
  "debug_endpoint": true,
  "plugin": {
    "pattern": ".so",
    "folder": "/opt/krakend/plugins/"
  },
  "async_agent": [
    {
      "$ref": "./async_agents/async_agent_demo.json"
    }
  ],
  "endpoints": [
      {{ range .gatherendpoints }}
          {{$filename := .name}}

          {{ range $n, $k := until (int .num) }}
          {
            "$ref": "./templates/{{ $filename }}#/endpoints/{{ $n }}"
          }
          ,
          {{ end }}
      {{ end }}
      {{ template "endpoints_req_resp_transformations.json" . }},
      {{ template "endpoints_authentication.json" . }},
      {{ template "endpoints_traffic_management.json" . }},
      {{ template "endpoints_services_connectivity.json" . }}
  ],
  "extra_config": {
    "$ref": "./service_extra_config.json"
  }
}
